{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["defaults", "not ie 11", "not operamini all", "not <0.15%"]
      },
      "debug": false
    }],
  "stage-2",
  "react"
  ],
  "plugins": [ "styled-components", [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]]
}